<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.Cennet"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.DrawingWidgetProvider" android:exported="true" android:label="@string/widget_drawing_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_drawing_info" />
        </receiver>
        <receiver android:name=".widget.DiaryWidgetProvider" android:exported="true" android:label="@string/widget_diary_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_diary_info" />
        </receiver>
        <receiver android:name=".widget.PhotoWidgetProvider" android:exported="true" android:label="@string/widget_photo_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_photo_info" />
        </receiver>
        <receiver android:name=".widget.PetWidgetProvider" android:exported="true" android:label="@string/widget_pet_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_pet_info" />
        </receiver>
        <receiver android:name=".widget.LettersWidgetProvider" android:exported="true" android:label="@string/widget_letters_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_letters_info" />
        </receiver>
        <receiver android:name=".widget.MoaWidgetProvider" android:exported="true" android:label="@string/widget_moa_name">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_moa_info" />
        </receiver>
    </application>
</manifest>
